.E445 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  align-items: START;
  flex-wrap: nowrap;
  gap: 0px;
  padding: 0px;
  margin: 0px;
  container-type: inline-size;
}
.E446 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  display: contents;
}
.E447 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: min-content;
  left: 0px;
  top: 0px;
}
.E448 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: auto;
  flex: 100 0 0;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: start;
  align-items: CENTER;
  flex-wrap: nowrap;
  gap: 50px;
  padding: 0px 0px 90px 0px;
  margin: 0px;
  filter: blur(0px);
}
.E835 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  top: 0px;
}
.E836 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: min-content;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: start;
  align-items: START;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  margin: 0px;
  filter: blur(0px);
  overflow: Visible;
}
@container (width < 1200px) {
  .E836 {
    box-sizing: border-box;
    width: 100%;
  }
}
.E837 {
  box-sizing: border-box;
  position: relative;
  width: 250px;
  height: min-content;
  left: 1px;
  top: 1px;
  background: #ff3f8fff;
  background-size: auto;
  background-attachment: local;
  border-radius: 20px;
  display: block;
  padding: 6px;
  margin: 0px;
  filter: blur(0px) drop-shadow(0px 5px 10px #0000001a);
}
.E838 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #ffffffff;
  background-size: auto;
  background-attachment: local;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  align-items: START;
  flex-wrap: nowrap;
  gap: 0px;
  padding: 0px;
  margin: 0px;
  filter: blur(0px);
}
.E839 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: min-content;
  left: 0px;
  top: 0px;
  border-top: 0px #ff3f8fff solid;
  border-right: 0px #ddddddff solid;
  border-bottom: 1px #eeeeeeff solid;
  border-left: 0px #ddddddff solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: start;
  align-items: START;
  flex-wrap: nowrap;
  gap: 0px;
  padding: 20px;
  margin: 0px;
  filter: blur(0px);
}
.E840 {
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  display: inline-block;
  color: #000000ff;
  font-size: 16px;
  font-weight: 500;
}
.E841 {
  box-sizing: border-box;
}
.E842 {
  box-sizing: border-box;
  position: relative;
  width: min-content;
  height: min-content;
  left: 0px;
  top: 0px;
  background: #ffffffff;
  background-size: auto;
  background-attachment: local;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: start;
  align-items: END;
  flex-wrap: nowrap;
  gap: 4px;
  padding: 0px;
  margin: 0px;
  filter: blur(0px);
}
.E843 {
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  display: inline-block;
  color: #000000ff;
  white-space: pre;
  font-size: 30px;
  font-weight: 400;
}
.E844 {
  box-sizing: border-box;
}
.E845 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 260px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: space-between;
  align-items: CENTER;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 20px;
  margin: 0px;
  filter: blur(0px);
}
@container (width < 1200px) {
  .E845 {
    box-sizing: border-box;
    height: 300px;
  }
}
@container (width < 700px) {
  .E845 {
    box-sizing: border-box;
    height: min-content;
  }
}
.E846 {
  box-sizing: border-box;
  position: relative;
  width: min-content;
  left: 0px;
  top: 0px;
  margin: 0px 0px 4px 0px;
}
.E847 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E848 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E849 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E850 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E851 {
  box-sizing: border-box;
  position: relative;
  width: 250px;
  height: min-content;
  left: 1px;
  top: 1px;
  background: #000000ff;
  background-size: auto;
  background-attachment: local;
  border-radius: 20px;
  display: block;
  padding: 6px 6px 6px 6px;
  margin: 0px;
  filter: blur(0px) drop-shadow(0px 5px 10px #0000001a);
}
.E852 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #ffffffff;
  background-size: auto;
  background-attachment: local;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  align-items: START;
  flex-wrap: nowrap;
  gap: 0px;
  padding: 0px;
  margin: 0px;
  filter: blur(0px);
}
.E853 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: min-content;
  left: 0px;
  top: 0px;
  border-top: 0px #ff3f8fff solid;
  border-right: 0px #ddddddff solid;
  border-bottom: 1px #eeeeeeff solid;
  border-left: 0px #ddddddff solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: start;
  align-items: START;
  flex-wrap: nowrap;
  gap: 0px;
  padding: 20px;
  margin: 0px;
  filter: blur(0px);
}
.E854 {
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  display: inline-block;
  color: #000000ff;
  font-size: 16px;
  font-weight: 500;
}
.E855 {
  box-sizing: border-box;
}
.E856 {
  box-sizing: border-box;
  position: relative;
  width: min-content;
  height: min-content;
  left: 0px;
  top: 0px;
  background: #ffffffff;
  background-size: auto;
  background-attachment: local;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: start;
  align-items: END;
  flex-wrap: nowrap;
  gap: 4px;
  padding: 0px;
  margin: 0px;
  filter: blur(0px);
}
.E857 {
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  display: inline-block;
  color: #000000ff;
  white-space: pre;
  font-size: 30px;
  font-weight: 400;
}
.E858 {
  box-sizing: border-box;
}
.E859 {
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  background: #ffffffff;
  background-size: auto;
  background-attachment: local;
  display: inline-block;
  color: #000000ff;
  line-height: 24px;
  white-space: pre;
  font-size: 12px;
  font-weight: 400;
}
.E860 {
  box-sizing: border-box;
}
.E861 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 300px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: space-between;
  align-items: CENTER;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 20px;
  margin: 0px;
  filter: blur(0px);
}
@container (width < 700px) {
  .E861 {
    box-sizing: border-box;
    height: min-content;
  }
}
.E862 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px 0px 4px 0px;
}
.E863 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E864 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E865 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E866 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E867 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E868 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E869 {
  box-sizing: border-box;
  position: relative;
  width: 250px;
  height: min-content;
  left: 1px;
  top: 1px;
  background: #00a3ffff;
  background-size: auto;
  background-attachment: local;
  border-radius: 20px;
  display: block;
  padding: 6px 6px 6px 6px;
  margin: 0px;
  filter: blur(0px) drop-shadow(0px 5px 10px #0000001a);
}
.E870 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #ffffffff;
  background-size: auto;
  background-attachment: local;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  align-items: START;
  flex-wrap: nowrap;
  gap: 0px;
  padding: 0px;
  margin: 0px;
  filter: blur(0px);
}
.E871 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: min-content;
  left: 0px;
  top: 0px;
  border-top: 0px #ff3f8fff solid;
  border-right: 0px #ddddddff solid;
  border-bottom: 1px #eeeeeeff solid;
  border-left: 0px #ddddddff solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: start;
  align-items: START;
  flex-wrap: nowrap;
  gap: 0px;
  padding: 20px;
  margin: 0px;
  filter: blur(0px);
}
.E872 {
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  display: inline-block;
  color: #000000ff;
  font-size: 16px;
  font-weight: 500;
}
.E873 {
  box-sizing: border-box;
}
.E874 {
  box-sizing: border-box;
  position: relative;
  width: min-content;
  height: min-content;
  left: 0px;
  top: 0px;
  background: #ffffffff;
  background-size: auto;
  background-attachment: local;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: start;
  align-items: END;
  flex-wrap: nowrap;
  gap: 4px;
  padding: 0px;
  margin: 0px;
  filter: blur(0px);
}
.E875 {
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  display: inline-block;
  color: #000000ff;
  white-space: pre;
  font-size: 30px;
  font-weight: 400;
}
.E876 {
  box-sizing: border-box;
}
.E877 {
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  background: #ffffffff;
  background-size: auto;
  background-attachment: local;
  display: inline-block;
  color: #000000ff;
  line-height: 24px;
  white-space: pre;
  font-size: 12px;
  font-weight: 400;
}
.E878 {
  box-sizing: border-box;
}
.E879 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 260px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: space-between;
  align-items: CENTER;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 20px;
  margin: 0px;
  filter: blur(0px);
}
@container (width < 1200px) {
  .E879 {
    box-sizing: border-box;
    height: 300px;
  }
}
.E880 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px 0px 4px 0px;
}
.E881 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E882 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E883 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E884 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.E464 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: min-content;
  left: 0px;
  top: 0px;
}
