.E644 {
  box-sizing: border-box;
  position: relative;
  width: min-content;
  height: min-content;
  display: block;
  padding: 0px;
  margin: 0px;
}
.E645 {
  box-sizing: border-box;
  position: relative;
  width: min-content;
  height: min-content;
  left: 0px;
  top: 0px;
  background: #333333ff;
  background-size: auto;
  background-attachment: local;
  border-radius: 20px;
  display: block;
  padding: 6px 10px 6px 10px;
  margin: 0px;
  cursor: pointer;
}
.E645:hover {
  box-sizing: border-box;
}
.E646 {
  box-sizing: border-box;
  position: relative;
  width: max-content;
  height: auto;
  left: 0px;
  top: 0px;
  display: inline-block;
  color: #ffffffff;
  line-height: 14px;
  white-space: pre-line;
  font-size: 12px;
  font-weight: 400;
  word-break: break-all;
}
.E647 {
  box-sizing: border-box;
}
