.E1066 {
  box-sizing: border-box;
  position: relative;
  width: min-content;
  height: min-content;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: start;
  align-items: START;
  flex-wrap: nowrap;
  gap: 6px;
  padding: 0px;
  margin: 0px;
}
.E1065.E1066 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  align-items: START;
  flex-wrap: nowrap;
  gap: 6px;
  padding: 10px;
}
.E1067 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  top: 0px;
}
.E1065.E1067 {
  box-sizing: border-box;
  min-width: 100%;
}
.E1068 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  top: 0px;
}
.E1065.E1068 {
  box-sizing: border-box;
  min-width: 100%;
}
.E1069 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  top: 0px;
}
.E1065.E1069 {
  box-sizing: border-box;
  min-width: 100%;
}
.E1070 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  top: 0px;
}
.E1065.E1070 {
  box-sizing: border-box;
  min-width: 100%;
}
.E1071 {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  top: 0px;
}
.E1065.E1071 {
  box-sizing: border-box;
  min-width: 100%;
}
